<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <title>Shop</title>
</head>

<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <a href="index.html">Shop</a>
            </div>
            <div class="header-links">
                <a href="cart.hrml">Cart</a>
                <a href="signin"> Signin </a>
            </div>
        </header>

        <main class="main">
            <div class="row row-cols-1 row-cols-md-3">
                <ul class="products">
                    <li>
                        <div class="product">
                            <img class="product-img" src="img/l1.jpg">
                            <div class="product-name">
                                <a href="product.html">New Inspiron 15 5590 Laptop
                                </a>
                            </div>
                            <div class="product-description "> 10th Generation Intel® Core™ i5-10210U Processor (6MB
                                Cache, up to 4.2 GHz) </div>
                            <div class="product-price">₹ 63,990.01</div>
                        </div>

                    </li>
                    <!-- 1 -->
                    <li>
                        <div class="product">
                            <img class="product-img" src="img/l2.jpg">
                            <div class="product-name">
                                <a href="product.html">New Inspiron 15 5590 Laptop
                                </a>
                            </div>
                            <div class="product-description "> 10th Generation Intel® Core™ i5-10210U Processor (6MB
                                Cache, up to 4.2 GHz) </div>
                            <div class="product-price">₹ 63,990.01</div>
                        </div>

                    </li>
                    <!-- 2 -->
                    <li>
                        <div class="product">
                            <img class="product-img" src="img/l1.jpg">
                            <div class="product-name">
                                <a href="product.html">New Inspiron 15 5590 Laptop
                                </a>
                            </div>
                            <div class="product-description "> 10th Generation Intel® Core™ i5-10210U Processor (6MB
                                Cache, up to 4.2 GHz) </div>
                            <div class="product-price">₹ 63,990.01</div>
                        </div>

                    </li>
                    <!-- 3 -->
                    <li>
                        <div class="product">
                            <img class="product-img" src="img/l1.jpg">
                            <div class="product-name">
                                <a href="product.html">New Inspiron 15 5590 Laptop
                                </a>
                            </div>
                            <div class="product-description "> 10th Generation Intel® Core™ i5-10210U Processor (6MB
                                Cache, up to 4.2 GHz) </div>
                            <div class="product-price">₹ 63,990.01</div>
                        </div>

                    </li>
                    <li>
                        <div class="product">
                            <img class="product-img" src="img/l1.jpg">
                            <div class="product-name">
                                <a href="product.html">New Inspiron 15 5590 Laptop
                                </a>
                            </div>
                            <div class="product-description "> 10th Generation Intel® Core™ i5-10210U Processor (6MB
                                Cache, up to 4.2 GHz) </div>
                            <div class="product-price">₹ 63,990.01</div>
                        </div>

                    </li>
                    <li>
                        <div class="product">
                            <img class="product-img" src="img/l1.jpg">
                            <div class="product-name">
                                <a href="product.html">New Inspiron 15 5590 Laptop
                                </a>
                            </div>
                            <div class="product-description "> 10th Generation Intel® Core™ i5-10210U Processor (6MB
                                Cache, up to 4.2 GHz) </div>
                            <div class="product-price">₹ 63,990.01</div>
                        </div>

                    </li>
                    <li>
                        <div class="product">
                            <img class="product-img" src="img/l1.jpg">
                            <div class="product-name">
                                <a href="product.html">New Inspiron 15 5590 Laptop
                                </a>
                            </div>
                            <div class="product-description "> 10th Generation Intel® Core™ i5-10210U Processor (6MB
                                Cache, up to 4.2 GHz) </div>
                            <div class="product-price">₹ 63,990.01</div>
                        </div>

                    </li>
                </ul>
            </div>

        </main>
        <footer class="footer">
            This is footer
        </footer>
    </div>
</body>

</html>